@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Sora:wght@400;700&display=swap');

:root{
    --font-sora: 'Sora', sans-serif;
    --font-inter: 'Inter', sans-serif;

    --cor01: rgb(41,49,69);
    --cor02: rgb(129, 131, 133);
    --cor03: rgb(239,248,255);
    --cor04: rgb(15,154,254);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}